<div class="card">
    <div class="left">
        <div class="header">
            <div class="title" (click)="openEditDialog()">
                {{movie?.primaryTitle}}
                <div><img class="icon" src="assets/icon_pencil.svg" /></div>
            </div>
            {{movie?.originalTitle}}
        </div>
        <div class="data">
            <div class="data-box">
                <div i18n class="data-title">
                    {{'ID' | translate}}
                </div>
                {{movie?.id}}
            </div>
            <div class="data-box">
                <div i18n class="data-title">
                    {{'MINUTES' | translate}}
                </div>
                {{movie?.runtimeMinutes}}
            </div>
            <div class="data-box">
                <div class="data-title">
                    {{'START_YEAR' | translate}}
                </div>
                {{movie?.startYear}}
            </div>
            <div class="data-box">
                <div class="data-title">
                    {{'END_YEAR' | translate}}
                </div>
                {{movie?.endYear}}
            </div>
            <div class="data-box">
                <div class="data-title">
                    {{'IS_ADULT' | translate}}
                </div>
                {{movie?.isAdult}}
            </div>
            <div class="data-box">
                <div  class="data-title">
                    {{'TYPE' | translate}}
                </div>
                {{movie?.genres}}
            </div>
        </div>
    </div>
    <div class="right">
        <img class="image" src="assets/icon_poster.svg" />
    </div>
</div>